/* app/static/css/style.css */

/* Remover margens e padding padrão */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav li {
    margin-right: 10px;
}

nav a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: white;
    color: #0056b3;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    outline: none; /* Remove outline que aparece ao focar */
    box-shadow: none; /* Remove qualquer sombra de borda */
}

nav a:hover {
    background-color: white;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: rgb(53, 52, 54);
}

h1 {
    font-family: 'Arial';
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 228, 255);
}

/* Margem a esquerda */

h2 {
    color: rgb(0, 228, 255);
    text-align: center;
}


form {
    max-width: 400px; /* Limita a largura máxima do formulário */
    margin: 50px auto; /* Centraliza o formulário na página */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estiliza os campos de input */
form input[type="text"] {
    width: 100%; /* Garante que o campo ocupe toda a largura disponível */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Garante que o padding não afete o tamanho total do campo */
}

/* Estiliza o botão */
form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

/* Estiliza os rótulos (labels) */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: rgb(25, 120, 131);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: #007BFF;
    text-decoration: none;
    border: none;
}

a:hover {
    text-decoration: underline;
}
